html {
  position: relative;
  min-height: 100%;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
   background-color: #110c11;
}

h1, h2, h3, p {
  font-family: 'raleway', sans-serif;
}

.header  {
background-color: #fdfdff;
max-width: 100%;
font-family: 'raleway', sans-serif;
font-size: 55px;
font-weight: 400;
text-align: center;
margin: 0px;
padding: 0px;
line-height: 45px;
overflow: hidden;
height: auto;
border-style: solid;
border-color: #fdfdff;
border-width: 10px;
}

.header p {
margin-top: 50px;
margin-bottom: 25px;
text-align: center;
align-items: center;
justify-content: center;
color: black;
text-decoration: none;
}

.header a {
text-decoration: none;
}

.wrapper {
margin-left: 50px;
margin-right: 50px;
padding: 0;
background-color: #fdfdff;
overflow: hidden;
}

.indexbox {
max-height: 100%;
max-width: 100%;
background-color: #110c11;
}

.indexbox > h1 {
font-size: 80px;
color: #fdfdff;
font-family:sans-serif;
text-align: center;
font-weight: lighter;
}

.indexbox > h2 {
font-size: 44px;
font-family: sans-serif;
font-weight: lighter;
color: #fdfdff;
text-align: center;
margin-top: 20px;
}

.button {
background-color: #111111;
color: #fdfdff;
padding: .5em 1em;
width: 150px;
height: auto;
margin: 0 auto;
display: flex;
justify-content: center;
justify-items: center;
border: 1px solid;
margin-top: 70px;
margin-bottom: 128px;
cursor: pointer;
position: center;
overflow: hidden;
}

.button > p {
font-size: 16px;
color: #fdfdff;
font-family: sans-serif;
text-decoration: none;
}

.button a {
font-size: 16px;
color: #fdfdff;
font-family: sans-serif;
text-decoration: none;
}

.navbar {
width: 100%;
background-color: #110c11;
overflow: hidden;
justify-content: center;
text-align: center;
margin: 0;
padding: 0;
}

.navbar a {
color: #fdfdff;
text-align: center;
justify-content: center;
align-content: center;
padding: 14px 16px;
text-decoration: none;
font-size: 15px;
font-family: 'raleway', sans-serif;
font-weight: 550;
}

.navbar ul {
align-items: center;
justify-content: center;
display: inline-block;
text-align: center;
}

.navbar a:hover {
background-color: #808080;
color: black;
}


.projecttitle {
align-items: center;
text-align: center;
}

.description1 {
height: 250px;
width: 500px;
float: left;
margin-left: 100px;
margin-top: 100px;
}

.description2 {
height: 250px;
width: 500px;
float: right;
margin-right: 100px;
margin-top: 25px;
}

.description3 p {
height: 250px;
width: 500px;
float: left;
margin-right: 100px;
margin-top: 100px;
}

.description4 p {
height: 250px;
width: 500px;
float: left;
margin-left: 100px;

}

.description5 p {
height: 250px;
width: 500px;
float: left;
margin-left: 100px;
}

.description6 p {
height: 250px;
width: 500px;
float: left;
margin-left: 100px;
margin-top: 140px;
}

.description7 p {
height: 250px;
width: 500px;
float: left;
margin-left: 100px;
margin-top: 150px;
margin-bottom: 25px;
}

.description8 p {
height: 250px;
width: 500px;
float: left;
margin-left: 100px;
margin-top: 200px;
}

.description9 p {
height: 250px;
width: 500px;
margin-top: 25px;
margin-left: 100px;
margin-bottom: 25px;
float: right;
margin-right: 250px;
}

.billede1 img {
object-fit: fill;
height: 500px;
width: 400px;
float: left;
margin-left: 100px;
margin-bottom: 50px;
}

.billede2 img {
height: 350px;
width: 500px;
float: left;
margin-left: 100px;
margin-top: 25px;
margin-bottom: 50px;
}

.billede3 img {
height: 250px;
width: 250px;
background-color: blue;
float: left;
margin-top: 100px;
margin-left: 100px;
margin-bottom: 20px;
}

.billede4 img {
float: left;
height: 250px;
width: 250px;
margin-top: 400px;
margin-left: 100px;
margin-bottom: 20px;
}

.billede5 img {
float: left;
height: 500px;
width: 450px;
margin-top: 10px;
margin-left: 100px;
margin-bottom: 20px;
object-fit: fill;
}

.billede6 img {
float: right;
height: 500px;
width: 550px;
margin-top: 150px;
margin-right: 100px;
margin-bottom: 50px;
object-fit: fill;
}

.billede7 iframe {
margin-top: 100px;
margin-left: 100px;
object-fit: fill;
justify-content: center;
}

.billede8  {
margin-top: 100px;
margin-left: 100px;
object-fit: fill;
justify-content: center;
}

.billede9 img {
height: 350px;
width: 350px;
margin-top: 50px;
margin-left: 100px;
object-fit: fill;
justify-content: center;
float: left;
}

.billede10 img  {
height: 350px;
width: 350px;
margin-top: 100px;
margin-bottom: 40px;
margin-left: 100px;
object-fit: fill;
float: left;
}

.billede11 img  {
height: 400px;
width: 500px;
margin-top: 100px;
margin-bottom: 40px;
margin-left: 100px;
object-fit: fill;
float: left;
}

.billede12 img  {
height: 300px;
width: 400px;
margin-top: 100px;
margin-left: 100px;
object-fit: fill;
float: left;
}

.description3 {
height: 250px;
width: 500px;
float: left;
margin-left: 100px;
margin-top: 25px;
}

.aboutme {
height: 400px;
width: 750px;
text-align: center;
float: left;
margin-left: 600px;
margin-top: 100px;
background-color: #fdfdff;
}

.aboutme ul {
line-height: 25px;
display: block;
font-family: raleway;
text-align: left;
margin-top: 30px;
margin-bottom: 100px;
position: absolute;
display: block;
justify-content: center;
}

.aboutpic {
margin-top: 50px;
margin-bottom: 50px;
margin-left: 50px;
background-color: red;
color: red;
height: 500px;
width: 500px;
}

.grid-container {
width: 60%;
margin: 3rem auto;
border-style: solid;
border-color: #808080;
border-width: 10px;
padding: 3rem;
background: #fdfdff;
grid-gap: 10px;
display: grid;
grid-template-columns: repeat(4, 1fr);
}

.j {
  background-color: black;
}

.k {
  background-color: black;
}

.l {
  background-color: black;
}

.grid-container div {
height: 200px;
color: black;
font-size: 1.3rem;
border-radius: 4px;
display: flex;
align-items: center;
justify-content: center;
}

.grid-container img {
height: 200px;
width: 100%;
color: black;
font-size: 1.3rem;
border-radius: 4px;
display: flex;
align-items: center;
justify-content: center;
}

.footer1 {
width: 100%;
background-color: #110c11;
color: #fdfdff;
text-align: center;
bottom: 0;
height: 150px;
font-family: 'raleway', sans-serif;
display: inline-block;
}

.footer1 ul {
text-align: left;
float: left;
margin-top: 20px;
margin-bottom: 100px;
position: absolute;
display: block;
margin-left: 50px;
line-height: 20px;
}

/* Inspiration fra: https://www.emailonacid.com/blog/article/email-development/emailology_media_queries_demystified_min-width_and_max-width/
*/
@media only screen and (max-width : 900px) {
  .grid-container {
  width: 68%;
  margin: 0.5rem auto;
  padding: 1rem;
  grid-template-columns: 1fr 1fr;
  }

  .grid-container div {
  height: 250px;
}

.grid-container img {
  width: 100%;
  height: 250px;
}

.projecta {
  width: 50%;
  height: 50%;
  position: absolute;
  overflow-y: scroll;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
}

.billede1 {
  width: 50%;
  height: 50%;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: ;
  overflow-x: hidden;
  overflow-y: hidden;
}

.description1 {
width: 50%;
height: 50%;
position: relative;
margin: 0 0;
left: 0;
right: 0;
top: 0;
bottom: 0;
  }
}

@media only screen and (max-width : 600px) {
  .grid-container {
  width: 68%;
  grid-template-columns: repeat(1, 1fr);
  }

  .projecta {
    width: 50%;
    height: 50%;
    position: absolute;
    overflow-y: scroll;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
  }
  .billede1 {
    width: 50%;
    height: 50%;
    position: relative;
    overflow-y: scroll;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: ;
    overflow-x: hidden;
    overflow-y: hidden;
  }

.description1 {
  width: 50%;
  height: 50%;
  position: relative;
  margin: 0 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

  .grid-container div {
  height: 250px;
  }
}
